nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: rgb(15, 60, 112);
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-left .menu-icon {
    width: 22px;
    margin-right: 25px;
}

.nav-left .logo {
    width: 130px;
}

.nav-middle .search-box {
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.nav-middle .search-box input {
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-middle .search-box img {
    width: 15px;
}

.nav-right img {
    width: 25px;
    margin-right: 25px;
}

.nav-right .user-icon {
    width: 35px;
    border-radius: 50%;
}

.subs-btn {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s;
}

.subs-btn:hover {
    background-color: #ddd;
}

.nav-middle .subscriptions-link {
    margin-left: 20px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    background-color: #f44336;
    transition: background-color 0.3s;
}

.nav-middle .subscriptions-link:hover {
    background-color: #d32f2f;
}